*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
#wrapper{
	height: 8070px;;
	width: 1440px;
	margin: 0 auto;
	background-color:rgba(7,7,7,0.90);
}
header{
	width: 1440px;
	height: 142px;
	position: absolute;
	z-index: 40;
}
header ul{
	list-style: none;
	margin-right: 63px;
	padding-top: 63px;
	font-size: 26px;
	font-weight: 400;
	float: right;
}
header ul li a{
	text-decoration: none;
	color:#afc67b;	
}
header ul li a:hover{
	color:white;
	text-shadow: 1px 1px 2px white;
}
header ul li{
	float: left;
	text-decoration: none;
}
#list2{
	margin-left: 72px;

}
#list3{
	margin-left: 40px;
}
#list4{
	margin-left: 28px;
}
#bg1{
	height: 1100px;
	width: 1440px;
	z-index: 8;
	background: url("../image/background1.png");
	background-size: cover;
}
#content1{
	height: 595px;
	width: 435px;
	margin-top: 165px;
	float: right;
	margin-right: 110px;
	color: #9baf6d;
}
#logo{
	width: 150px;
	height: 124px;
	background-size: cover;
}
#logo img{
	width: 150px
}
#text-1{
	margin-top:114px;
}
#text-1 p{
	font-weight: 400;
	font-size: 38px;
}
#text-1 h1{
	font-weight: 700;
	font-size: 55px;
}
#button {
	margin-top: 171px;
	background-color: #4c5140;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 34px;
	cursor: pointer;
}
#button:hover {
	background: white;
	color: #4c5140;
}
#bg2{
	height: 490px;
	width: 1440px; 
	background-color:#212121;
	z-index: 10;
	position: absolute;
}
#content2 {
	height: 144px;
	width: 537px;
	float: left;
	margin-top: 164px;
	margin-left: 98px;
}
#cook {
	font-family: gooddog;
	color: #afc67b;
	font-size: 28px;
}
#main-content{
	margin-top: 48px;
	font-family: 'Montserrat', sans-serif;
	width: auto;
	height: 76px;
	font-size: 19px;
	font-weight: 300;
	color: white;
}
#img-2 {
	float: right;
	width: 736px;
	height: 490px;
	background: url("../image/Vector Smart Object (Double Click to Edit).png");
	background-size: cover;
}
#pattern-bg {
	background: url(../image/background.png);
	background-size: cover;
	position: absolute;
	z-index: 6;
	display: flex;
	height: 7280px;
	width:1440px;
	margin-top: 840px;
}
#page3 {
	height: 1583px;
	width: 1440px;
}
#tab3 {
	width: 1440px;
	height: 376px;
	background-color: #45493b;
}
.col {
	width: 1440px;
	height: 185px;
	margin-left: 91px;
}
.column{
	float: left;
	width: 309px;
	height: 185px;
	margin-left: 88px;
	color: white;
	margin-top: 98px;
}
.column h2{
	font-family: "GoodDog Cool", "GoodDog Plain";
	font-size: 20px;
	margin-top: 29px;
}
.column p {
	font-weight: 300;
	font-size: 16px;
	margin-top: 39px;
}
#square {
	width: 1088px;
	height: 1027.5px;
	background-color: #45493b;
	margin-top: 90px;
	margin-left: 179px;
	text-align: center;
}
#square h1 {
	font-family: "GoodDog Cool", "GoodDog Plain";
	color:#afc67b;
	font-size: 27px;
	padding-top: 64px;
}
#to {
	font-weight: 300;
	font-size: 37px;
	color: white;
}
#we-bring {
	width: 484px;
	height: 80px;
	margin-left: 310px;
}
#total{
	height: 823px; 
	width: 1096px;
	margin-top: 125px;
}
.row1{
	width: 1088px;
	height: 274px;
	margin-top: 86px;
	margin-top: 0;

}
.row2{
	width: 1088px;
	height: 274px;
}
.row3{
	width: 1088px;
	height: 274px;
}
.column-1{
	width: 272px;
	height: 274px;
	float: left;
	color: red;
}
.column-1 h2{
	font-family: "GoodDog Cool", "GoodDog Plain";
	font-size: 20px;
	color:#afc67b;
	margin-top: 73px;
}
.column-1 img{
	width: 272px;
	height: 274px;
}
.plate{
	font-size: 15px;
	color: white;
	width: 170px;
	margin-left: 50px;
	margin-top: 30px;
	font-weight: 300;
}
.column-1 h3{
	font-family: "GoodDog Cool", "GoodDog Plain";
	color:white;
	font-size: 18px;
	margin-top: 27px;
}
#tab4{
	width: 1440px;
	height: 400px;
	background-color: #45493b;
	text-align: center;
}
#tab4 h3{
	font-family: "GoodDog Cool", "GoodDog Plain";
	color: #a1b573;
	font-size: 30px;
	padding-top: 118px;
}
#tab4 p{
	font-size: 16px;
	color: white;
	width: 698px;
	margin-left: 372px;
	margin-top: 45px;
	font-weight: 300;
}
#quoste{
	height: 30px;
	width: 80px;
	background-size: cover;
}
#quoste img{
	width: 80px;
	margin-top:57px;
	margin-left: 680px;
}
#tranparentClass {
    display: block;
    position:relative;
	margin-top: 238px;
	widows: 1440px;
	z-index: 400000;
	height: 630px;
    background-color:#3e4136;
}
#tranparentClass h1{
	font-family: "GoodDog Cool", "GoodDog Plain";
	font-size: 46px;
	color: #a1b573;
	padding-top: 50px;
	text-align: center;
}
#tranparentClass p{
	font-weight: 300;
	font-size: 34px;
	color: white;
	text-align: center;
	
}
#page4{
	z-index: 10;
	position: absolute;
	height: 1730px;
	width: 1440px;
	background-size: cover;
	opacity: 0.9;
	min-height: 500px; 
 	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
#collum-left{
	width: 425px;
	height: 366px;
	float: left;
	margin-top: 38px;
	margin-left: 100px;
	position: relative;
}
#collum-right{
	float: right;
	width: 425px;
	height: 366px;
	margin-top: 38px;
	margin-right: 150px;
	position: relative;
}
.sushi-1{
	width: 425px;
	height: 85px;
}
.sushi-2{
	width: 425px;
	height: 85px;
	margin-top:56px;
}
.icon-sushi{
	width: 85px;
	height: 85px;
	float: left;
}
.sushi-1 h2{
	font-family: "GoodDog Cool", "GoodDog Plain";
	font-size: 21px;
	color: white;
	padding-top: 11px;
	margin-left: 15px;
	
}

.sushi-2 h2{
	font-family: "GoodDog Cool", "GoodDog Plain";
	font-size: 21px;
	color: white;
	padding-top: 11px;
	margin-left: 15px;
}
.icon-text{
	font-size: 11px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	width: 335px;
	margin-top: 10px;
	margin-left: 10px;
	color: white;
	line-height: 16px;
}
#page5{
	height: 454px;
	width: 1440px;
	margin-top:1730px;
	
}
#page6{
	height: 865px;
	width: 1440px; 
	min-height: 500px; 
}
#page7{
	height: 1162px;
	width: 1440px;
}
#page7 h1{
	font-family: "GoodDog Cool", "GoodDog Plain";
	font-size: 44px;
	color: #9cb06f;
	text-align: center;
	padding-top: 50px;
}
#page7 p{
	font-size: 35px;
	color: white;
	font-weight: 300;
	text-align: center;
}
.box-menu{
	height: 499px;
	width: 339px;
	margin-left: 34px;
	background: white;
	float: left;
}
#menu-pg7{
	width: 1263px;
	position: relative;
	height: 499px;
	margin-top: 57px;
	margin-left: 140px;
}
.img-menu{
	width: 340px;
	height: 302px;
	background-size: cover;
}
.box-menu h3{
	font-size: 12px;
	font-weight: bold;
	padding-top: 26px;
	color: #555555;
	margin-left: 30px;
}
.box-menu h2{
	font-size: 15px;
	margin-top: 27px;
	font-weight: bold;
	margin-left: 30px;
}
.box-menu h4{
	font-size: 15px;
	font-weight: 300;
	width: 254px;
	margin-left: 30px;
}
.bt1{
	margin-left: 30px;
	margin-top: 29px;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 7px solid #afc67b;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
}

.bt1:hover{
	border-bottom: 15px solid #afc67b;
}
#end{
	height: 292px;
	width: 1440px;
	margin-top: 176px;
	position: relative;
}
#text-end{
	width: 686px;
	height: 292px;
	margin-left: 378px;
}
#text-end img{
	margin-top: 5px;
}
#text-end h6{
	font-weight: 300;
	font-size: 18px;
	margin-top: 11px;
	color: #aac078;
	margin-bottom: 15px;
}
#text-end h7{
	font-family: "GoodDog Cool", "GoodDog Plain";
	font-size: 23px;
	color: #aac078;
}
#icon-socail{
	float: left;
	margin-left: 139px;	 
	margin-top: 38px;
}
#icon-socail img{
	margin-left: 25px;
}
.From{
	width: 1440px;
	height:329px;
	font-family: 'Montserrat', sans-serif;
}
.box-1{
	width: 480px;
	height: 454px;
	float: left;
}
.box-1 input{
	box-sizing: border-box;
	border-radius: 5px;
	margin-left: 100px;
	font-size: 18px;
	margin-top: 90px;
}
.box-1a input{
	font-size: 18px;
	margin-left: 100px;
	margin-top: 72px;
}
.box-2{
	width: 480px;
	height: 454px;
/*	background: #000000;*/
	float: left;
}
.box-2 input{
	box-sizing: border-box;
	border-radius: 5px;
	margin-left: 100px;
	font-size: 18px;
	margin-top: 90px;
}
.box-2a input{
	font-size: 18px;
	margin-left: 100px;
	margin-top: 72px;
}
.box-2b input{
	font-size: 18px;
	margin-left: 100px;
	margin-top: 72px;
}
.box-3{
	width: 480px;
	height: 454px;
/*	background: #000000;*/
	float: left;
}
.box-3 input{
	box-sizing: border-box;
	border-radius: 5px;
	margin-left: 100px;
	font-size: 18px;
	margin-top: 90px;
}
.box-3a input{
	font-size: 18px;
	margin-left: 100px;
	margin-top: 72px;
}
#page5 h1{
	color: white;
	font-family: "GoodDog Cool", "GoodDog Plain";
	font-size: 50px;
	text-align: center;
	padding-top: 50px;
}
table{
			border-collapse: collapse;
	position: relative;
	z-index: 4000;
			
		}
		table td{
      padding-top:64px;
      border-radius: 5px;
		}
table td b{
	color: white;
	
}
		.cs-input{
			width: 234px;
			border-radius: 6px;
			border: 2px solid #FFFFFF;
			background-color: transparent;
			color: white;
		}
.people{
  width:234px;
  padding-left:0;
	border-radius: 6px;
	border: 2px solid #FFFFFF;
	background-color: transparent;
	color: white;
}
.cs-submit{
  width:234px;
	
  display: none;
}
.cs-submit1{
	width:234px;
	border-radius: 6px;
	border: 2px solid #FFFFFF;
	background-color: transparent;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
.o-r-1{
  padding-left: 167px;
}
.o-r{
	padding-left: 100px;
}